body {
  background: black;
  color: red;
  text-align: center;
  font-family: sans-serif;
}
h1 {
  text-shadow: 0 0 50px 
  .button {
  padding: 50px 40px;   /* უფრო დიდი */
  font-size: 50px;      /* ტექსტი დიდი */
  border-radius: 50px;  /* რბილი კუთხეები */
  margin: 50px;
  display: inline-block;
  width: 100%;           /* თითქმის მთელ ეკრანზე */
  max-width: 300px;
  text-align: center;
}
button:hover {
  transform: scale(1.1);
}
.card {
  background: black;
  border: 2px solid red;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 20px red;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

/* Modal */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: white;
}

.modal-content img {
  max-width: 90%;
  border-radius: 20px;
}

/* Chat */
#chatBox {
  margin-top: 20px;
}

.user {
  color: lightblue;
}

.bot {
  color: yellow;
}