body {
  margin: 0;
  background: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

/* PAGES */
.page {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

/* TITLE */
h1 {
  color: red;
  text-shadow: 0 0 25px red;
}

/* ICON */
.icon {
  font-size: 60px;
  margin-top: 20px;
  text-shadow: 0 0 20px red;
}

/* INPUT */
input {
  width: 80%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  background: #ddd;
}

/* BUTTON */
button {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: black;

  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue
  );
}

/* BACK BUTTON */
.back {
  width: auto;
  padding: 10px 20px;
}

/* TEXT */
.text {
  margin: 20px;
  line-height: 1.6;
}